@{
    ViewBag.Title = "Home Page";
}

<div style="color:#333333;" class="jumbotron">
    <p class="lead">The links below will trigger different behavior on the server and attach a message to the log below.</p>
</div>

<div class="row">
    <ul class="nav navbar-nav">
        <li><a onclick="slow()">Slow Method</a></li>
        <li><a onclick="highCpu()">High CPU Method</a></li>
        <li><a onclick="memorySink()">Memory Hog</a></li>
        <li><a onclick="memoryRelease()">Reset Memory Hog</a></li>
        <li><a onclick="threadContention()">Thread Contention</a></li>
        <li><a onclick="tryEventLog()">Event Log</a></li>
        <li><a onclick="tryEventSource()">Event Source</a></li>
    </ul>

    
</div>

<div>
    <p>Input a string or number greater than 100 to test code contracts...</p>
    <label for="exampleInputEmail1">Contract Test</label>
    <input type="email" class="form-control" id="codeContractInput" placeholder="Do not say Yaarg!">
    <button class="btn btn-primary" onclick="codeContract()">Submit</button>
</div>

<div>
    <ul id="log"></ul>
</div>

<script>
    function logData(data) {
        var list = document.getElementById("log");
        var item = document.createElement("li");
        item.innerHTML = data;
        list.appendChild(item);
    }

    function slow() {
        $.ajax({
            url: '@Url.Action("Slow", "Home")',
            data: {},
            cache: false,
            type: 'GET',
            success: function (data) {
                logData(data);
            }
        });
    }

    function highCpu() {
        $.ajax({
            url: '@Url.Action("HighCPU", "Home")',
            data: {},
            cache: false,
            type: 'GET',
            success: function (data) {
                logData(data);
            }
        });
    }

    function memorySink() {
        $.ajax({
            url: '@Url.Action("MemorySink", "Home")',
            data: {},
            cache: false,
            type: 'GET',
            success: function (data) {
                logData(data);
            }
        });
    }

    function memoryRelease() {
        $.ajax({
            url: '@Url.Action("MemoryRelease", "Home")',
            data: {},
            cache: false,
            type: 'GET',
            success: function (data) {
                logData(data);
            }
        });
    }

    function threadContention() {
        $.ajax({
            url: '@Url.Action("ThreadContention", "Home")',
            data: {},
            cache: false,
            type: 'GET',
            success: function (data) {
                logData(data);
            }
        });
    }

    function tryEventLog() {
        $.ajax({
            url: '@Url.Action("TryEventLog", "Home")',
            data: {},
            cache: false,
            type: 'GET',
            success: function (data) {
                logData(data);
            }
        });
    }

    function tryEventSource() {
        $.ajax({
            url: '@Url.Action("TryEventSource", "Home")',
            data: {},
            cache: false,
            type: 'GET',
            success: function (data) {
                logData(data);
            }
        });
    }

    function codeContract() {

        var baseUrl = '@Url.Action("CodeContract", "Home", new { x = "XXxXX" }, null)'
        var x = document.getElementById("codeContractInput").value;
        var url = baseUrl.replace("XXxXX", x);

        $.ajax({
            url: url,
            data: {},
            cache: false,
            type: 'GET',
            success: function (data) {
                logData(data);
            },
            failure: function (data) {
                logData(data);
            }
        });
    }
</script>